
@{
    int a = 54;
    int b = 65;
    int c;
    c = a + b;
    int d = 56;
}


<div class="container first-pages">
    <!-- [Html Comment] -->
    <h1>ASP Net MVC Core Home Page</h1>
    <button id="btnSayHello" class="btn btn-outline-success">Salam deyek</button>

    @*
        [Razor Comment]
    *@

    <ul style="margin-top: 20px">
        <li style="">
            <a href="page1.html">Page 1</a>
        </li>
        <li>
            <a href="page2.html">Page 2</a>
        </li>
    </ul>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Text</th>
                <th scope="col">Razor Expression</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>5 + 3</td>
                <td>@(5 + 3)</td>
            </tr>
            <tr>
                <td>"hello " + "world"</td>
                <td>@("hello " + "world")</td>
            </tr>
            <tr>
                <td>c</td>
                <td>@c</td>
            </tr>
            <tr>
                <td>
                    if (d % 2 == 0)
                    {
                    <span>cutdur</span>
                    }
                    else
                    {
                    <span>tekdir</span>
                    }
                </td>
                <td>
                    @if (d % 2 == 0)
                    {
                        <span>cutdur</span>
                    }
                    else
                    {
                        <span>tekdir</span>
                    }
                </td>
            </tr>
            <tr>
                <td>

                    <ul style="display:flex">
                        for (int i = 0; i < 10; i++)
                        {
                        <li>i</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul style="display:flex">
                        @for (int i = 0; i < 10; i++)
                        {
                            <li>@i</li>
                        }
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

